/.vs/WordStat/FileContentIndex
/.vs/WordStat/v17
/.vs/ProjectEvaluation/wordstat.projects.v6.1
/.vs/WordStat/DesignTimeBuild/.dtbcache.v2
/.vs/WordStat/config
/bin/Debug/net7.0
/obj/Debug/net7.0
/obj
/.vs/ProjectEvaluation
